#founder1img{
    width:440px; /*width of your image*/
    height:280px; /*height of your image*/
    background-image:url('../IMG-5969.JPG');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 40px;
}
#content1{
    display: inline-block;
}
#founder2img{
    width:440px; /*width of your image*/
    height:320px; /*height of your image*/
    background-image:url('../20190907_213157.jpg');

    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 40px;
}
#content2{
    display: inline-block;
}
#navbar{
    background: rgb(33,33,33);
    background: linear-gradient(360deg, rgba(33,33,33,1) 0%, rgba(52,52,52,1) 50%, rgba(33,33,33,1) 100%);
    border-radius: 5px;
}