.welcome{
    background-image: url("/static/cut_vegetables.JPG");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dessert{

  background-image: url("/static/small_cakes.JPG");
  background-size: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  
  
  }

  
  
  
/* .welcome{
    /* The image used */
  
    /* Full height */
  /* height: 100%; */
  
    /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */ 

  /* .dessert{
    /* The image used */
  
    /* Full height */
    /* height: 100%; */
  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */ 


