<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cookbook.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Cookbook</title>
</head>
<body>
    <div class="row">
        <h1>Welcome to the CookBook!</h1>
            <div class="col-8">
                <nav class="navbar navbar-expand-lg rounded navbar-light bg-secondary">
                    <span class="border border-dark text-right"></span>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item active">
                                <h4><a class="nav-link text-white" href="/cookbook">Home</a></h4>
                            </li>
                            <li class="nav-item active">
                                <h4><a class="nav-link text-white" href="/founders">Founders</a></h4>
                            </li>
                            <li class="nav-item active">
                                <h4><a class="nav-link text-white" href="#">Careers</a></h4>
                            </li>
                            <li class="nav-item active">
                                <h4><a class="nav-link text-white" href="userprofile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></h4>
                            </li>
                            <li class="nav-item active">
                                <h4><a class="nav-link text-white" href="/logout">Logout</a></h4>
                            </li>

                        </ul>
                    </div>
                    </span>
                    <form action="search">
                        <input type="text" placeholder="Search" name="" id="">
                        <!-- <textarea name="#" cols="25" rows="1" placeholder="Search"></textarea> -->
                        <input type="submit" value="Go!">
                    </form>


                </nav>
            </div>
    <br>
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                {% comment %} <nav class="navbar navbar-expand-lg rounded navbar-light bg-secondary">
                    <span class="border border-dark"></span>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="/cookbook">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="/founders">Founders</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="#">Careers</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="userprofile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="/logout">Logout</a>
                            </li>

                        </ul>
                    </div>
                    </span>
                    <form action="search">
                        <input type="text" placeholder="Search" name="" id="">
                        <!-- <textarea name="#" cols="25" rows="1" placeholder="Search"></textarea> -->
                        <input type="submit" value="Go!">
                    </form>


                </nav> {% endcomment %}
            </div>
            {% comment %} <form action="search">
                <input type="text" placeholder="Search" name="" id="">
                <!-- <textarea name="#" cols="25" rows="1" placeholder="Search"></textarea> -->
                <input type="submit" value="Go!">
            </form> {% endcomment %}

        </div>
        
    </div>

    {% comment %} <ul>
        <li>
            <a href="/cookbook">Home</a>
        </li>
        <li>
            <a href="founders">Founders</a>
        </li>
        <li>
            <a href="#">Careers</a>
        </li>
        <li>
            <a href="userprofile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>   
     {% endcomment %}
    {% comment %} <form action="search">
        <input type="text" placeholder="Search" name="" id="">
        <!-- <textarea name="#" cols="25" rows="1" placeholder="Search"></textarea> -->
        <input type="submit" value="Go!">

    </form> {% endcomment %}
    <br><br>
    <div id="image1">
        <a href="/welcome"><h2>Popular Dishes</h2></a>
    </div>

    <div id="image2">
        <a href="/recipe/best"><h2>Recipe of the Week</h2></a>
    </div>

    <div id="image3">
        <a href="/desserts/page"><h2>Popular Desserts</h2></a>
    </div>

    {% comment %} <ul>
        <li>
            <a href="#">Advertisements</a>
        </li>
        <li>
            <a href="privacypolicy">Privacy Policy</a>
        </li>
        <li>
            <a href="#">Help</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="terms">Terms of Service</a>
        </li>
    </ul> {% endcomment %}
    <div class="col-12">
        <footer class="my-5 pt-5 light text-muted text-center text-center">
            {% comment %} <ul> {% endcomment %}
            <a class="text-black" href="#">Advertisements</a>  <a href="privacypolicy">Private Policy</a> <a href="#">Help</a> <a href="#">About</a> <a href="terms">Terms of Service</a>
            <br>
            Copyright &copy;  2020
            {% comment %} </ul> {% endcomment %}
        </footer>
    </div>

</body>
</html>